<swiper-container
  class="mySwiper"
  space-between="30"
  pagination="true"
  autoplay="true"
  pagination-clickable="true"
>
  <swiper-slide>
    <div class="swiper-item pb-4">
      <div class="swiper-img text-center pb-4">
        <img
          class="rounded-pill"
          src="/images/testi-1.jpg"
          alt="client image"
        />
      </div>
      <figure class="text-center">
        <blockquote class="blockquote">
          <p class="text-muted small pb-2">
            " Competent, professional and engaged team on managerial and
            individual levels. "
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Sherif <span class="fw-bold text-black">Yasser</span>
        </figcaption>
      </figure>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="swiper-item pb-4">
      <div class="swiper-img text-center pb-4">
        <img
          class="rounded-pill"
          src="/images/testi-2.jpg"
          alt="client image"
        />
      </div>
      <figure class="text-center">
        <blockquote class="blockquote">
          <p class="text-muted small pb-2">
            " Wonderful agency to work with. Always working towards the delivery
            of projects. <br />
            Very technical and knowledgeable in the Marketing. "
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Menna <span class="fw-bold text-black">Khaled</span>
        </figcaption>
      </figure>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="swiper-item pb-4">
      <div class="swiper-img text-center pb-4">
        <img
          class="rounded-pill"
          src="/images/testi-3.jpg"
          alt="client image"
        />
      </div>
      <figure class="text-center">
        <blockquote class="blockquote">
          <p class="text-muted small pb-2">
            "Very detailed and knowledgeable, they have managed to reduce my
            cost per click from FB and google by 100% compared to my old agency.
            <br />
            We help ambitious companies create new value. "
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Aya <span class="fw-bold text-black">Waleed</span>
        </figcaption>
      </figure>
    </div>
  </swiper-slide>
</swiper-container>
