footer .row .card .card-body h4 {
  font-size: 26px;
  font-weight: 700;
  color: #040404;
  line-height: 31px;
}
footer .row .card .card-body p {
  color: #2b2b2b;
  line-height: 25px;
}
footer .row .card .card-body .contact-links li {
  display: flex;
  align-items: center;
  color: #040404;
  font-family: 300;
  font-size: 12px;
}
footer .row .card .card-body .contact-links li .footer-img {
  margin-right: 5px;
}

footer .row .card .card-body .pages-links li a {
  color: #2b2b2b;
  transition: 0.5s color ease-in;
}
footer .row .card .card-body .pages-links li a:hover {
  color: #290707;
}
footer .row .card .card-body .footer-keywords a {
  background-color: #fff;
  border-color: #fff;
  color: #585858;
  padding: 3px 12px;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in,
    color 0.3s ease-in;
}
footer .row .card .card-body .footer-keywords a:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
footer .row .copy-rights p {
  color: #2b2b2b;
  font-weight: 700;
}
