<footer class="bg-main-light">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-4 col-md-6">
        <div class="card px-1 bg-transparent border-0">
          <div class="card-body">
            <h4 class="card-title text-uppercase pb-3">The Bonders Are</h4>
            <p>
              A bonded family that mix and match creativity and commitment to
              help brands go beyond the limit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card px-1 bg-transparent border-0">
          <div class="card-body">
            <h4 class="card-title text-uppercase pb-3">Get in touch</h4>
            <ul class="list-unstyled contact-links">
              <li class="mb-2">
                <div class="footer-img">
                  <i class="fas fa-phone"></i>
                </div>
                <a href="tel:+201021551322">+2 - 01021551322</a>
              </li>
              <li class="mb-2">
                <div class="footer-img">
                  <i class="fas fa-envelope"></i>
                </div>
                <a href="mailto:Bonder@digitalbondmena.com">
                  Bonder&#64;digitalbondmena.com</a
                >
              </li>
              <li class="mb-2">
                <div class="footer-img">
                  <i class="fas fa-location-dot"></i>
                </div>
                <a
                  href="https://maps.app.goo.gl/uJRwNnri7w9NyyYw8"
                  target="_blank"
                  >11 Ahmed Al Shatouri, Ad Dokki, Giza Governorate</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card px-1 bg-transparent border-0">
          <div class="card-body">
            <h4 class="card-title text-uppercase pb-3">Explore more</h4>
            <ul class="list-unstyled pages-links">
              <li class="mb-2">
                <a>Home</a>
              </li>
              <li class="mb-2">
                <a>About us</a>
              </li>
              <li class="mb-2">
                <a>careers</a>
              </li>
              <li class="mb-2">
                <a>Say hello</a>
              </li>
              <li class="mb-2">
                <a>Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center shadow-lg">
    <div class="copy-rights">
      <p class="m-1">
        Copyright © 2025
        <img
          height="30px"
          class="mx-1"
          src="/images/Logo_V2.gif"
          alt="footer logo Digital Bond"
        />
        All rights reserved
      </p>
    </div>
  </div>
</footer>
