<!--& ========== Start Header Section ========== -->
<header class="home">
  <div
    class="container d-flex justify-content-center align-items-center min-vh-100 text-center"
  >
    <div class="header-content">
      <h1
        class="text-black text-uppercase display-3 fw-bold"
        data-aos="fade-down"
      >
        Created With Digital Bond.
      </h1>
      <h5 class="text-black" data-aos="fade-right" data-aos-delay="1000">
        We help ambitious companies create new value. Let's Bond Together
      </h5>
    </div>
  </div>
</header>
<!--& ========== End Header Section ========== -->

<section class="slider">
  <app-home-slider></app-home-slider>
</section>

<!--& ========== Start About Section ========== -->
<section class="about bg-main-light py-5" id="about">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-lg-6" data-aos="fade-right">
        <div class="about-img">
          <img
            class="w-100 img-thumbnail"
            src="/images/about-1.webp"
            alt="kerri image in about section"
          />
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-left">
        <h2 class="text-capitalize fw-semibold fs-1 pb-2">
          <span class="fw-bold">about</span> Us
        </h2>
        <h3 class="pb-3 fs-2">
          Hello! <span class="main-color text-uppercase">Digital Bond</span>
        </h3>
        <p class="pb-2 text-muted">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
        <p class="pb-2 text-muted">
          The point of using Lorem Ipsum is that it has a more-or-less normal
          distribution of letters, as opposed to using 'Content here, content
          here', making it look like readable English.
        </p>
        <p class="pb-1 text-muted">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
        </p>

        <div class="icons-group d-flex gap-2">
          <div class="icon">
            <i class="fab fa-dribbble"></i>
          </div>
          <div class="icon">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="icon">
            <i class="fab fa-linkedin"></i>
          </div>
          <div class="icon">
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--& ========== End About Section ========== -->

<section class="slider">
  <app-home-slider></app-home-slider>
</section>

<!--& ========== Start Slider Section ========== -->
<section class="reviews bg-main-light py-5">
  <div class="main-title">
    <h2>Clients Reviews</h2>
    <p>know me more</p>
  </div>
  <app-review-slider></app-review-slider>
</section>
<!--& ========== End Slider Section ========== -->

<!--& ========== Start Contact Section ========== -->
<section>
  <app-contact></app-contact>
</section>
<!--& ========== End Contact Section ========== -->
